.foto { 
  width: 70%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}

.navbar {
  background-color: #ea899e;
}

.btn{
  text-align: right !important;
  background-color: black !important;
}
 
.fondo {
  position: relative;
  top: 80px ; /*altura desde arriba*/
  padding: 10px; 
  margin: 2 0px; 
  border: 2px solid black; 
  float: center; 
  
}

body {
  heigh:665px;
  background-image: url("img/Sin\ título.png");
  background-size: 4rem; /* tamaño de imagen*/
}